{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-stack">
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message|safe}}</div>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.flash').forEach(el => {
        setTimeout(() => {
          el.style.opacity = '0';
          setTimeout(() => el.remove(), 500); // remove after fade
        }, 3000);
      });
    });
</script>
    