<div class="header-left">
    <button type="button" class="date-changer" data-amount="-7" data-mode="weekday">
        <i class="fa-solid fa-angles-left"></i>
    </button>
    <button type="button" class="date-changer" data-amount="-1" data-mode="day">
        <i class="fa-solid fa-angle-left"></i>
    </button>

    <button type="button" class="date-picker" id="datePickerButton">
        <i class="fa-solid fa-calendar-days"></i>
    </button>
    <input style="width: auto; display:none;"
        type="date" name="date" id="dateInput" 
        value="{{ date.strftime('%Y-%m-%d') }}">

    <button type="button" class="date-changer" data-amount="1" data-mode="day">
        <i class="fa-solid fa-angle-right"></i>
    </button>
    <button type="button" class="date-changer" data-amount="7" data-mode="weekday">
        <i class="fa-solid fa-angles-right"></i>
    </button>
</div>

<div class="header-center">
    <span id="viewHeading" class="view-heading" style="font-variant-numeric: tabular-nums">Tagesansicht</span>
</div>

<div class="header-right">
    <select id="hourSelect" name="hour" style="width: 6rem;"  data-disable-scroll>
        <option value="8">morgens</option>
        <option value="12">mittags</option>
        <option value="16" selected>abends</option>
    </select>
    <select id="viewTypeSelect" name="view_type" data-disable-scroll
            data-bg-regular="#fff"
            data-bg-template="#fbf8f1"
            data-bg-public="#f3eaf5">
        {% if is_authenticated %}
            {% if view_type == "regular" %}
                <option value="regular" selected>Ansicht: Mitglieder</option>
            {% else %}
                <option value="regular" >Ansicht: Mitglieder</option>
            {% endif %}

            {% if view_type == "template" %}
                <option value="template" selected>Ansicht: Stammtische</option>
            {% else %}
                <option value="template" >Ansicht: Stammtische</option>
            {% endif %}
        {% endif %}

        {% if view_type == "public" %}
            <option value="public" selected>Ansicht: Öffentlich</option>
        {% else %}
            <option value="public" >Ansicht: Öffentlich</option>
        {% endif %}
    </select>
</div>
