<div class="header-left">
    <button type="button" class="date-changer" data-amount="-7" data-mode="weekday">
        <i class="fa-solid fa-angles-left"></i>
    </button>
    <button type="button" class="date-changer" data-amount="-1" data-mode="day">
        <i class="fa-solid fa-angle-left"></i>
    </button>

    <button type="button" class="date-picker" id="datePickerButton">
        <i class="fa-solid fa-calendar-days"></i>
    </button>
    <input style="width: auto; display:none;"
        type="date" name="date" id="dateInput" 
        value="{{ date.strftime('%Y-%m-%d') }}"
        data-url-month="{{ url_for('cal_bp.month') }}"
        data-url-day="{{ url_for('cal_bp.day') }}">
        
    <button type="button" class="date-changer" data-amount="1" data-mode="day">
        <i class="fa-solid fa-angle-right"></i>
    </button>
    <button type="button" class="date-changer" data-amount="7" data-mode="weekday">
        <i class="fa-solid fa-angles-right"></i>
    </button>
</div>

<div class="header-center">
    <span id="viewHeading" class="view-heading" style="font-variant-numeric: tabular-nums">Tagesansicht</span>
</div>

<div class="header-right">
    <select id="viewTypeSelect" name="view_type" data-disable-scroll>
        {% if view_type == "regular" %}
            <option value="regular" selected>Mitglied / Normal</option>
        {% else %}
            <option value="regular" >Mitglied / Normal</option>
        {% endif %}

        {% if view_type == "template" %}
            <option value="template" selected>Stammtischkalender</option>
        {% else %}
            <option value="template" >Stammtischkalender</option>
        {% endif %}

        {% if view_type == "public" %}
            <option value="public" selected>Öffentliche Events</option>
        {% else %}
            <option value="public" >Öffentliche Events</option>
        {% endif %}
    </select>
</div>