__pycache__/**
__pycache__
dist/**
dist
Mitarbeit/**
Mitarbeit
build/**
build
logfile.log
*.tar
.yml
Dockerfile
.venv/**
.vent
*.env
.env
instance
instance/
_backup
_backup/
Thumbs.db
*.log
docker-compose.yml
Dockerfile
**/.venv/
.venv/
**/venv/
venv/