:root {
    --accent-color-dark: hsl(120, 30%, 30%);
    --accent-color-light: hsl(120, 30%, 85%);
    --accent-color: hsl(120, 100%, 32%);
    --font-color: black;
    --font-on-main: white;
}

body {
    font-family: Arial, sans-serif;
    font-family: "Outfit", sans-serif;
    margin: 0;
    color: black;
    container-name: body;
    container-type: inline-size;
}

input, textarea, button, select, optgroup {
    font-family: inherit
}

.hidden {
    display: none !important;
}

input[type="text"],
textarea,
select,
input[type="date"],
input[type="time"] {
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: min(1rem, 4vw);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #f9f9f9;
    cursor: pointer;
}
input[type="text"], textarea {
    cursor: initial;
}
select:hover {
    background-color: #ddd;
}
select:focus {
    background-color: #f9f9f9;
}
select[data-icon]::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    padding: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    /* height: 3rem; */
    transition: background-color 0.1s;
    color: black;
}

button:hover {
    background-color: #ddd;
}

button:is(.set) {
    border-style: inset;
    box-shadow: 1px 1px 1px inset gray;
    background-color: #ccc;
}


#flash-stack {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;
    pointer-events: none;
}
.flash {
    background: #333;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 1;
    transition: opacity 0.5s ease-out;
    pointer-events: auto;
}

.success {
    background-color: #82e479;
}
.failure {
    background-color: #e06e90;
}


.layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.layout-header > * {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}
.layout-header > * > * {
    flex-grow: 1;
}
.header-left {
    text-align: left;
    justify-content: left;
}
.header-center {
    text-align: center;
    justify-content: center;
}
.header-right {
    text-align: right;
    justify-content: right;
}
@container body (width < 650px) {
    .layout-header {
        flex-direction: column;
    }
    .layout-header > * {
        width: 100%;
    }
    .layout-header > *:has(:nth-child(2)) {
        justify-content: space-between;
    }
    .layout-header * {
        text-align: center;
    }
    .layout-header > *:first-child {
        order: 2;
    }
}

.layout-footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.layout-footer > * {
    flex: 1;
    height: 2.5rem;
}
.footer-left {
    text-align: left;
    display: flex;
    align-items: center;
}
.footer-center {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
}
.footer-right {
    text-align: right;
}