.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* 7 columns for 7 days */
    grid-template-rows: 1rem 1fr;
    gap: 5px;
    text-align: center;
    grid-template-rows: 1rem;
    grid-auto-rows: 1fr;
    height: 100%;
}

.day-header {
    font-weight: bold;
}

.day {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 8px #ddd;
    border-radius: .5rem;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.day-heading {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .4ch;
    width: 100%;
}
.day-events {
    display: flex;
    flex-direction: column;
}
.heat-bar {
    --heat-none: hsl(0, 0%, 100%);
    --heat-low: hsl(100, 50%, 70%);
    --heat-medium: hsl(50, 60%, 60%);
    --heat-high: hsl(0, 70%, 50%);
    height: 10px;
    display: block;
    min-height: 10px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    height: 60%;
    width: 100%;
}

.day::-webkit-scrollbar {
    display: none;
}
.day:has(.so), .day:has(.sa) {
    background-color: #e5f4ff;
    color: grey;
    border: 1px solid #ccc;
}
.day:has(.so):is(.other-month), .day:has(.sa):is(.other-month) {
    background-color: #d1dce4;
}
.day:has(.so):is(.other-month):hover, .day:has(.sa):is(.other-month):hover {
    background-color: #a9cce1;
    cursor: pointer;
}
.day:hover {
    background-color: #a9cce1;
    cursor: pointer;
}
.day + .current-day {
    background-color: #ecd0d0;
}
.day + .current-day:hover {
    background-color: #d9aeae;
}
.current-month {
    background-color: #fff;
}

.other-month {
    background-color: #eee;
    box-shadow: inset 1px 1px 3px lightgray;
    color: lightgray;
}
.mobile-weekday {
    display: none;
}
.event {
    padding: .3rem 1.5ch;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    background-color: #3788d8;
    letter-spacing: -.03rem;
}
.event-name {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event-time {
    font-size: .8em;
    font-style: italic;
    font-stretch: condensed;
    align-self: end;
    color: #555;
}

@media (max-width: 768px) {
    .calendar-grid {
        grid-template-columns: 1fr; /* Make it a single column */
        grid-template-rows: repeat(auto-fill, minmax(1fr, auto)); /* Auto rows based on content */
        gap: 10px; /* Increase the gap between days for better readability on mobile */
        grid-template-rows: none;
        overflow-y: auto;
        scroll-padding: 20vh;
    }

    #nextMonth {
        justify-self: end; /* Align next button to the right */
    }
    .day {
        text-align: left;
        padding: 0;
        padding-right: 0px;
        padding-left: 0px;
        min-height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;
        padding-left: 1ch;
        padding-right: 1ch;
    }
    .day-heading {
        align-self: center;
        height: 75%;
        flex-basis: 15ch;
        flex-shrink: 0;
    }
    .day-events {
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 1ch;
    }
    .day-header {
        display: none; /* Optional: Hide the day headers (Mo, Di, Mi, etc.) on mobile */
    }
    .mobile-weekday {
        display: inline;
        flex-basis: 2ch;
        flex-shrink: 0;
    }
    .day-number {
        flex-basis: 2ch;
        flex-shrink: 0;
    }
    .heat-bar {
        flex-grow: 1;
    }
    .event {
        margin: 0;
        padding: 0;
        height: 1.7rem;
        display: flex;
        align-items: center;
        padding-left: 5px;
        flex-grow: 1;
        flex-basis: 5ch;
        flex-shrink: 0;
        justify-content: center;
    }

    span.event-name {
        display: inline-block;
        max-width: 80%; /* Adjust this value based on your layout */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle; /* Keeps the text aligned with other elements */
    }
    span.event-time {
        display: none;
    }
}