<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'std_elements/head.html' %}

    <!-- fontawesome -->
    <script defer src="/static/js/fontawesome/fontawesome.min.js"></script>
    <script defer src="/static/js/fontawesome/solid.min.js"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="/static/css/air-datepicker.css">
    <script src="/static/js/air-datepicker/air-datepicker.js"></script>

    <!-- Custom statics -->
    <link rel="stylesheet" href="/static/css/dynamic.css">
    <script src="/static/js/general.js" defer></script>
    <script src="/static/js/dynamic-view.js" defer></script>


    <title>Reservations Week View</title>

    <meta name="view-type" content="{{ view_type }}">
    <meta name="date" content="{{ date }}">

</head>
<body>
    
    {% include 'std_elements/body.html' %}
    <div class="layout-wrapper" id="layoutWrapper" data-layout="mixed">

        {# This sets up the header with the given arguments - these are used in the htmx requests #}
        <form id="viewTypeForm"
                hx-get="{{ url_for('cal_bp.fetch_day')}}"
                hx-target=".calendar-container"
                hx-trigger="load, change from:#dateInput, change from:#viewTypeSelect"
                class="layout-header">

                {% include 'std_elements/header.html' %}
        </form>
        
        <div class="calendar-grid" id="calendar-grid"></div>
        <div class="calendar-container" id="calendar-container"></div>

        {% include 'std_elements/footer.html' %}
        
    </div>
    

    
</body>
</html>
