<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'std_elements/head.html' %}

    <link rel="stylesheet" href="/static/css/mycalendar.css">
    <link rel="stylesheet" href="/static/css/month.css">
    <script src="/static/js/month.js" defer></script>
    

    <title>Reservations Month View</title>

    <meta name="view-type" content="{{ view_type }}">
    <meta name="date" content="{{ date }}">
    <style>
        #prevMonth {
            grid-area: headerLeft;
        }
        #currentMonth {
            grid-area: headerCenter;
        }
        #nextMonth {
            grid-area: headerRight;
        }
    </style>
</head>
<body>
    {% include 'std_elements/body.html' %}
    <div class="layout-wrapper">
        <div class="calendar-header">
            <button id="prevMonth">Vorheriger</button>
            <span id="currentMonth" class="view-heading"></span>
            <button id="nextMonth">Nächster</button>
        </div>

        <div class="calendar-container month-view calendar-grid" id="daysContainer">
            <!-- Days of the week -->
            <!-- <div class="calendar-grid" id="daysContainer"> -->
                <div class="day-header">Mon</div>
                <div class="day-header">Tue</div>
                <div class="day-header">Wed</div>
                <div class="day-header">Thu</div>
                <div class="day-header">Fri</div>
                <div class="day-header">Sat</div>
                <div class="day-header">Sun</div>

                <!-- Days of the month will be dynamically generated here -->
                <!-- <div id="daysContainer" class="days-container"></div> -->
            </div>
        <!-- </div> -->

        {% include 'std_elements/footer.html' %}
    </div>

</body>
</html>
