<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'std_elements/head.html' %}

    <link rel="stylesheet" href="/static/css/mycalendar.css">
    <script src="/static/js/mycalendar.js" defer></script>

    <title>Reservations Week View</title>

    <meta name="view-type" content="{{ view_type }}">
    <meta name="date" content="{{ date }}">
    <style>
        #dateInput {
            grid-area: headerLeft;
        }
        #viewHeading {
            grid-area: headerCenter;
        }
        #viewTypeSelect {
            grid-area: headerRight;
        }
    </style>
</head>
<body>
    
    {% include 'std_elements/body.html' %}
    <div class="layout-wrapper">
        <div class="layout-header">
            <div class="header-left">
                <button name="dateInput" id="dateInput" 
                    value="{{ date.strftime('%Y-%m-%d') }}"
                    data-url-month="{{ url_for('cal_bp.month') }}"
                    data-url-day="{{ url_for('cal_bp.day') }}">{{ date.strftime('%d.%m.%Y') }}
                </button>
            </div>
            <div class="header-center">
                <span id="viewHeading" class="view-heading">Tagesansicht</span>
            </div>
            <div class="header-right">
                <form id="viewTypeForm" style="width:100%">
                    <select id="viewTypeSelect" name="viewType" data-disable-scroll>
                        <option value="regular">Mitglied / Normal</option>
                        <option value="template">Stammtischkalender</option>
                        <option value="public">Öffentliche Events</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="calendar-container">
            <div class="side-nav prev-day"></div>
            <div class="time-scale">
                <span class="time-label" data-hour="12">12:00</span>
                <span class="time-label" data-hour="14">14:00</span>
                <span class="time-label" data-hour="16">16:00</span>
                <span class="time-label" data-hour="18">18:00</span>
                <span class="time-label" data-hour="20">20:00</span>
                <span class="time-label" data-hour="22">22:00</span>
                <span class="time-label" data-hour="24">24:00</span>
            </div>
            <div id="calendar" class="calendar"></div>
            <div class="side-nav next-day"></div>
        </div>

        {% include 'std_elements/footer.html' %}
        
    </div>
    

    
</body>
</html>
