<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'std_elements/head.html' %}


    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dmuy/MDTimePicker/mdtimepicker.min.css">
    <link rel="stylesheet" href="/static/css/event_form.css">
    <script src="/static/js/event_form.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dmuy/MDTimePicker/mdtimepicker.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the requested table ID from a data attribute on the form or a hidden input
            const requestedTableId = "{{ table_id }}";
    
            if (requestedTableId) {
                // Find the button with the matching data-table-id attribute
                const tableButton = document.querySelector(`.table-button[data-table-id='${requestedTableId}']`);
                if (tableButton) {
                    // Add a class to mark the button as selected
                    tableButton.classList.add('selected');
    
                    // Update the hidden input with the selected table ID
                    document.getElementById('table_ids').value = requestedTableId;
                }
            }
        });
    </script>

    <meta id="eventData" 
        data-name="{{ event.name if event else '' }}" 
        data-description="{{ event.description if event else '' }}"
        data-date="{{ event.date if event else '' }}"
        data-start-time="{{ start_time if event else '' }}"
        data-end-time="{{ end_time if event else '' }}"
        data-game-category-id="{{ event.game_category_id if event else '' }}"
        data-event-type-id="{{ event.event_type_id if event else '' }}"
        data-publicity-id="{{ event.publicity_id if event else '' }}"
        data-selected-tables="{{ event.reservations | map(attribute='table_id') | list | tojson | safe if event else ''}}"
        data-event-id="{{ event.id if event else ''}}"
        data-requested-date="{{ requested_date if requested_date else ''}}">

    
    <title>3TH - Tische buchen</title>
    <style>
        
    </style>
</head>
<body>
    {% include 'std_elements/body.html' %}

    
    
    <h1>{% if event %}Buchung bearbeiten{% else %}Tische buchen{% endif %}</h1>

    <form action="{{ url_for('event_bp.edit_event', event_id=event.id) if event else url_for('event_bp.create_event') }}" method="post" class="main-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="description">Beschreibung:</label>
        <textarea name="description" id="description"></textarea>

        <label for="game_category_id">Kategorie:</label>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <select name="game_category_id" id="game_category_id">
                {% for category in game_categories %}
                    <option value="{{ category.id }}" data-icon="{{ category.icon | safe }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <div class="icon-preview" id="icon-preview" style="margin-left: 1rem; margin-right: 1rem;"></div>
        </div>

        <label for="event_type_id">Art des Events:</label>
        <select name="event_type_id" id="event_type_id">
            {% for event_type in event_types %}
                <option value="{{ event_type.id }}" data-color="{{ event_type.color }}">{{ event_type.name }}</option>
            {% endfor %}
        </select>

        <label for="publicity_id">Öffentlichkeit:</label>
        <select name="publicity_id" id="publicity_id">
            {% for publicity in publicity_levels %}
                <option value="{{ publicity.id }}">{{ publicity.name }}</option>
            {% endfor %}
        </select>

        <label for="date">Datum:</label>
        <input type="date" name="date" id="date" required value="{{ event.date if event else '' }}">

        <div id="date-warning" style="grid-column: 1 / -1; color: darkorange; font-weight: bold; text-align: right; display: none"></div>

        <label for="startTime">Startzeit:</label>
        <input type="time" name="start_time" id="startTime" required value="{{ start_time }}">

        <label for="endTime">Endzeit:</label>
        <input type="time" name="end_time" id="endTime" required value="{{ end_time }}">

        <label for="table_ids">Verfügbare Tische:</label>
        <div id="tisch-container" class="tisch-container">
            {% for table in tables %}
                {% if table.type == "Halb" %}
                    <button type="button" class="table-button half-button" data-table-id="{{ table.id }}">
                {% else %}
                    <button type="button" class="table-button" data-table-id="{{ table.id }}">
                {% endif %}
                     {{ table.name }} <!-- <i style="font-size: 0.6rem; color:#bbbcc4;">({{ table.type }})</i> -->
                </button>
            {% endfor %}
        </div>

        <label for="check-availability">Verfügbarkeit prüfen:</label>
        <button id="check-availability" type="button">Prüfen</button>

        <!-- Hidden input to store selected table IDs -->
        <input type="hidden" name="table_ids" id="table_ids" required>

        <input type="hidden" id="is-edit-mode" value="{{ 'true' if event else 'false' }}">

        <!-- Hidden input to track collision state -->
        <input type="hidden" name="collision" id="collision" value="false">

        <button type="submit" id="submitButton" style="display:block" data-availability-checked="false" data-tables="true" data-collision="false"></button>
        <button type="submit" id="requestButton" style="display:none; background: rgb(84, 199, 189);">
            Buchung mit Kollision anfragen!
        </button>

        <div id="collision-warning" style="grid-column: 1 / -1; color: darkorange; font-weight: bold; text-align: right; display: none">
            Bei der Prüfung wurden Tische deaktiviert. <br>
            Wähle sie erneut an, um eine Kollision anzufragen.
        </div>

        <script>
            document.getElementById('requestButton').addEventListener('click', function() {
                // Set the collision flag to true
                document.getElementById('collision').value = "true";
            });
        </script>

    </form>

    {% if event %}
        <hr>
        <form action="{{ url_for('event_bp.delete_event', event_id=event.id) }}" 
            method="POST" 
            style="display: flex; flex-direction: row; justify-content: space-between;">
            <button type="button" class="back-button revert-button"
                    onclick="history.back();">
                Zurück
            </button>
            <button type="submit" name="action" value="delete" class="delete-button revert-button"
                onclick="return confirm('⚠️ Willst du das Event ABSAGEN? ⚠️\n\nAbsagen: Es wird eine Discordnachricht generiert.\nLöschen: Das Event wird einfach entfernt.\n\nWenn das Event näher als eine Woche entfernt liegt wird jedes Löschen eine Absage.');">
                Event Löschen</button>
            <button type="submit" name="action" value="cancel" class="cancel-button revert-button"
                onclick="return confirm('⚠️ Willst du das Event ABSAGEN? ⚠️\n\nAbsagen: Es wird eine Discordnachricht generiert.\nLöschen: Das Event wird einfach entfernt.\n\nWenn das Event näher als eine Woche entfernt liegt wird jedes Löschen eine Absage.');">
                Event absagen</button>
        </form>

    {% endif %}

</body>
</html>
